* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Airbean-brown: #2F2926;
    --Airbean-pink: #F3E4E1;
    --Airbean-dark-green: #0E927D;
}

.admin__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 16px;
    padding: .5rem;
    border-radius: 3px;
    background-color: var(--Airbean-pink);
    max-width: 341px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-30px);
}

.admin__form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 41, 38, 0.2);
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: .5rem;
}

.label {
    font-family: "Work Sans", sans-serif;
    color: var(--Airbean-brown);
    font-size: 14px;
    font-weight: 400;
}

.profile-h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    color: var(--Airbean-brown);
}

.profile__btn {
    align-self: center;
    padding: .5rem .8rem .5rem .8rem;
    border-radius: 50px;
    border: 0;
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--Airbean-brown);
    color: var(--Airbean-pink);
}

.profile__btn:hover {
    cursor: pointer;
}